In [1]:
from drawdata import draw_line, draw_scatter, draw_histogram
draw_scatter()

In [2]:
import pandas as pd
pd.read_clipboard(sep=",")

              x           y  z
0    162.755428  418.062056  a
1     82.685974  448.495418  a
2    133.747108  457.702748  a
3    116.498007  445.178404  a
4    143.925725  444.044478  a
..          ...         ... ..
550  202.679757  251.531320  d
551  243.280484  270.623501  d
552  220.739099  256.577867  d
553  240.657064  268.143562  d
554  214.168995  283.445174  d

[555 rows x 3 columns]

In [3]:
draw_scatter()

In [6]:
df = pd.read_clipboard(sep=",")

In [10]:
import matplotlib.pyplot as plt
df.plot(x ='X', y='Y', kind = 'scatter')

ModuleNotFoundError: No module named 'matplotlib'